body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #f8f9fa, #e0f7fa, #fce4ec);
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0px;
  margin: 5px;
}

.container-box {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  padding: 0px;
}
<<<<<<< HEAD
=======




/* login and registerpage */

.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
}

.auth-box {
  background: #ffffff;
  padding: 2.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.auth-title {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 1rem;
  text-align: center;
}

.auth-link {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  text-align: center;
}

>>>>>>> 3f68a8b (added)
